*{
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh
  }
  
  body {
    background: linear-gradient(
      152deg,
      rgba(198, 138, 209, 1) 45%,
      rgba(128, 89, 134, 1) 100%
    );
  }
  img {
    max-width: 100%; /* Make sure it doesn't overflow the column */
    height: auto;    /* Maintain the aspect ratio */
    border-radius: 8%;
}
  
/* Başlıkları ortala */
h1 {
    text-align: center;
}

/* Paragrafları ortala */
p {
    text-align: center;
}
.main-yazi{
    color:white;
}
h4{
    text-align: center;
}